In [2]:
import pandas as pd

In [7]:
file_path = 'data/Airlink_UMIT_SNDTWU_6-30-23_12-00_AM.csv' 
df = pd.read_csv(file_path, encoding='unicode_escape')

In [5]:
# Ask user for the time to search for
search_time = input("Enter the time in 'HH:MM' format: ")

In [8]:
#Adding newcolumn of date and time as a separate
type(df["Date & Time"])

pandas.core.series.Series

In [9]:
df['DateTime'] = pd.to_datetime(df['Date & Time'])

C:\Users\aashi\AppData\Local\Temp\ipykernel_12312\1708361575.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['DateTime'] = pd.to_datetime(df['Date & Time'])

In [15]:
df['Date'] = df['DateTime'].dt.date
df['Time'] = df['DateTime'].dt.time

df.head(97)

,Date & Time,AQI,High AQI,PM 1 - ug/m³,High PM 1 - ug/m³,PM 2.5 - ug/m³,High PM 2.5 - ug/m³,PM 10 - ug/m³,High PM 10 - ug/m³,Temp - °C,...,High Dew Point - °C,Low Dew Point - °C,Wet Bulb - °C,High Wet Bulb - °C,Low Wet Bulb - °C,Heat Index - °C,High Heat Index - °C,DateTime,Date,Time
0,6/30/23 12:00 AM,13,30,5,8,8,18,13,46,26,...,25,24,25,25,25,29,29,2023-06-30 00:00:00,2023-06-30,00:00:00
1,6/30/23 12:15 AM,11,27,5,10,7,16,11,25,26,...,25,24,25,25,25,29,29,2023-06-30 00:15:00,2023-06-30,00:15:00
2,6/30/23 12:30 AM,11,25,4,9,6,15,12,26,26,...,25,25,25,25,25,29,30,2023-06-30 00:30:00,2023-06-30,00:30:00
3,6/30/23 12:45 AM,11,25,4,9,6,15,11,28,26,...,25,25,25,25,25,30,30,2023-06-30 00:45:00,2023-06-30,00:45:00
4,6/30/23 1:00 AM,9,22,4,8,6,13,10,22,26,...,25,25,25,26,25,30,30,2023-06-30 01:00:00,2023-06-30,01:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,6/30/23 11:00 PM,23,43,9,15,14,26,21,35,28,...,26,26,27,27,26,33,34,2023-06-30 23:00:00,2023-06-30,23:00:00
93,6/30/23 11:15 PM,22,42,8,14,13,25,22,41,27,...,26,26,26,27,26,31,34,2023-06-30 23:15:00,2023-06-30,23:15:00
94,6/30/23 11:30 PM,19,38,7,11,12,23,20,42,27,...,26,26,26,26,26,31,32,2023-06-30 23:30:00,2023-06-30,23:30:00
95,6/30/23 11:45 PM,19,33,7,12,12,20,20,37,27,...,26,25,26,26,26,31,32,2023-06-30 23:45:00,2023-06-30,23:45:00
96,07-01-2023 00:00,23,40,9,14,14,24,21,38,27,...,26,26,26,26,26,32,32,2023-07-01 00:00:00,2023-07-01,00:00:00

In [16]:
df.drop(columns=['Date & Time'], inplace=True)

In [17]:
df.drop(columns=['Date'], inplace=True)

In [19]:
df.drop(columns=['DateTime'], inplace=True)

In [20]:
df.head()

,AQI,High AQI,PM 1 - ug/m³,High PM 1 - ug/m³,PM 2.5 - ug/m³,High PM 2.5 - ug/m³,PM 10 - ug/m³,High PM 10 - ug/m³,Temp - °C,High Temp - °C,...,Low Hum - %,Dew Point - °C,High Dew Point - °C,Low Dew Point - °C,Wet Bulb - °C,High Wet Bulb - °C,Low Wet Bulb - °C,Heat Index - °C,High Heat Index - °C,Time
0,13,30,5,8,8,18,13,46,26,26,...,92,24,25,24,25,25,25,29,29,00:00:00
1,11,27,5,10,7,16,11,25,26,26,...,92,25,25,24,25,25,25,29,29,00:15:00
2,11,25,4,9,6,15,12,26,26,26,...,94,25,25,25,25,25,25,29,30,00:30:00
3,11,25,4,9,6,15,11,28,26,26,...,94,25,25,25,25,25,25,30,30,00:45:00
4,9,22,4,8,6,13,10,22,26,26,...,93,25,25,25,25,26,25,30,30,01:00:00

In [25]:
df.shape

(678, 23)

In [31]:
df.head()

,AQI,High AQI,PM 1 - ug/m³,High PM 1 - ug/m³,PM 2.5 - ug/m³,High PM 2.5 - ug/m³,PM 10 - ug/m³,High PM 10 - ug/m³,Temp - °C,High Temp - °C,...,Low Hum - %,Dew Point - °C,High Dew Point - °C,Low Dew Point - °C,Wet Bulb - °C,High Wet Bulb - °C,Low Wet Bulb - °C,Heat Index - °C,High Heat Index - °C,Time
0,13,30,5,8,8,18,13,46,26,26,...,92,24,25,24,25,25,25,29,29,00:00:00
1,11,27,5,10,7,16,11,25,26,26,...,92,25,25,24,25,25,25,29,29,00:15:00
2,11,25,4,9,6,15,12,26,26,26,...,94,25,25,25,25,25,25,29,30,00:30:00
3,11,25,4,9,6,15,11,28,26,26,...,94,25,25,25,25,25,25,30,30,00:45:00
4,9,22,4,8,6,13,10,22,26,26,...,93,25,25,25,25,26,25,30,30,01:00:00

In [38]:
data = df.iloc[:96]

In [39]:
data.shape

(96, 23)

In [40]:
data

,AQI,High AQI,PM 1 - ug/m³,High PM 1 - ug/m³,PM 2.5 - ug/m³,High PM 2.5 - ug/m³,PM 10 - ug/m³,High PM 10 - ug/m³,Temp - °C,High Temp - °C,...,Low Hum - %,Dew Point - °C,High Dew Point - °C,Low Dew Point - °C,Wet Bulb - °C,High Wet Bulb - °C,Low Wet Bulb - °C,Heat Index - °C,High Heat Index - °C,Time
0,13,30,5,8,8,18,13,46,26,26,...,92,24,25,24,25,25,25,29,29,00:00:00
1,11,27,5,10,7,16,11,25,26,26,...,92,25,25,24,25,25,25,29,29,00:15:00
2,11,25,4,9,6,15,12,26,26,26,...,94,25,25,25,25,25,25,29,30,00:30:00
3,11,25,4,9,6,15,11,28,26,26,...,94,25,25,25,25,25,25,30,30,00:45:00
4,9,22,4,8,6,13,10,22,26,26,...,93,25,25,25,25,26,25,30,30,01:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,22,40,9,13,14,24,22,42,28,28,...,90,26,26,26,26,26,26,33,33,22:45:00
92,23,43,9,15,14,26,21,35,28,28,...,90,26,26,26,27,27,26,33,34,23:00:00
93,22,42,8,14,13,25,22,41,27,28,...,92,26,26,26,26,27,26,31,34,23:15:00
94,19,38,7,11,12,23,20,42,27,27,...,93,26,26,26,26,26,26,31,32,23:30:00
95,19,33,7,12,12,20,20,37,27,27,...,93,26,26,25,26,26,26,31,32,23:45:00

In [45]:
search_time = '12:10'

In [46]:
search_time = pd.to_datetime(search_time).time()

In [56]:
# Find the closest row to the provided time
closest_row = data.iloc[(pd.to_timedelta((pd.to_datetime(data['Time'].astype(str)) - pd.to_datetime(str(search_time))).abs())).idxmin()]

C:\Users\aashi\AppData\Local\Temp\ipykernel_12312\2408068678.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  closest_row = data.iloc[(pd.to_timedelta((pd.to_datetime(data['Time'].astype(str)) - pd.to_datetime(str(search_time))).abs())).idxmin()]

In [57]:
closest_row

AQI                           17
High AQI                      30
PM 1 - ug/m³                   7
High PM 1 - ug/m³             11
PM 2.5 - ug/m³                10
High PM 2.5 - ug/m³           18
PM 10 - ug/m³                 18
High PM 10 - ug/m³            34
Temp - °C                     26
High Temp - °C                26
Low Temp - °C                 26
Hum - %                       96
High Hum - %                  99
Low Hum - %                   94
Dew Point - °C                26
High Dew Point - °C           26
Low Dew Point - °C            25
Wet Bulb - °C                 26
High Wet Bulb - °C            26
Low Wet Bulb - °C             26
Heat Index - °C               30
High Heat Index - °C          31
Time                    12:15:00
Name: 49, dtype: object

In [59]:
closest_row[:-1]

AQI                      18
High AQI                 31
PM 1 - ug/m³              8
High PM 1 - ug/m³        12
PM 2.5 - ug/m³           11
High PM 2.5 - ug/m³      19
PM 10 - ug/m³            19
High PM 10 - ug/m³       35
Temp - °C                27
High Temp - °C           27
Low Temp - °C            27
Hum - %                  97
High Hum - %            100
Low Hum - %              95
Dew Point - °C           27
High Dew Point - °C      27
Low Dew Point - °C       26
Wet Bulb - °C            27
High Wet Bulb - °C       27
Low Wet Bulb - °C        27
Heat Index - °C          31
High Heat Index - °C     32
Name: 49, dtype: object

In [53]:
import numpy as np

In [62]:
len(closest_row[:-1])

22

In [67]:
for i in range(0, len(closest_row[:-1])):
    closest_row[i] = closest_row[i] + np.random.rand()

C:\Users\aashi\AppData\Local\Temp\ipykernel_12312\198121322.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  closest_row[i] = closest_row[i] + np.random.rand()
C:\Users\aashi\AppData\Local\Temp\ipykernel_12312\198121322.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  closest_row[i] = closest_row[i] + np.random.rand()
C:\Users\aashi\AppData\Local\Temp\ipykernel_12312\198121322.py:2: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  closest_row[i] = closest_row[i] + np.random.rand()

In [68]:
closest_row

AQI                      19.962995
High AQI                 32.918951
PM 1 - ug/m³              9.633917
High PM 1 - ug/m³        13.141159
PM 2.5 - ug/m³           12.742948
High PM 2.5 - ug/m³      20.769739
PM 10 - ug/m³            20.719322
High PM 10 - ug/m³       36.813087
Temp - °C                28.322281
High Temp - °C           28.978832
Low Temp - °C            28.835943
Hum - %                  98.617103
High Hum - %            101.560491
Low Hum - %              96.407492
Dew Point - °C           28.314216
High Dew Point - °C       28.54008
Low Dew Point - °C       27.477224
Wet Bulb - °C            28.491298
High Wet Bulb - °C       29.119879
Low Wet Bulb - °C        28.109911
Heat Index - °C          32.605604
High Heat Index - °C      33.44169
Time                      12:15:00
Name: 49, dtype: object

In [69]:
a = np.random.rand()

In [70]:
type(a)

float